// max-width 1430px
@media (max-width: 1430px)
   .hero
      max-width: 95%
      margin: auto       
// max-width 1200px
@media (max-width: 1200px)
   .nav-bar
      padding-left: 4% 
      padding-right: 4%  
// max-width 991px
@media (max-width: 991px)
   .nav-bar
      &__item
         margin-right: 30px
      &__link
         &:hover
            color: #183B56 
   .hero
      &__wrap
         padding-left: 3%
      &__btn
         &:hover
            background-color: $dark  
// max-width 767px
@media (max-width: 767px)
   .header
      margin-top: 26px
      margin-bottom: 30px
      &__container
         max-width: 650px
   .nav-bar
      margin: auto
      &__menu
         display: none
   .burger-menu
      display: flex
      width: 24px
      height: 24px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background: #fff
      &__line
         width: 24px
         height: 2px
         background-color: #3A4C66
   .hero
      max-width: 728px
      background-position: 60% 50%
      padding-top: 36px
      padding-bottom: 36px
      &__badge
         margin-bottom: 24px
      &__title
         font-size: 48px
         line-height: 60px 
         margin-bottom: 20px
      &__text
         max-width: 420px
         font-size: 18px
         line-height: 32px
         margin-bottom: 36px
      &__btn
         margin-bottom: 40px
// max-width 740px
@media (max-width: 740px)
   .hero
      border-radius: 0
// max-width 576px
@media (max-width: 576px)
   .hero
      &__title
         font-size: 32px
         line-height: 40px
      &__text
         font-size: 16px
         line-height: 28px
      // &__badge
      //    padding: 2px 26px
      &__btn
         font-size: 16px
         line-height: 22px
      &__bottom
         flex-wrap: wrap
@media (max-width: 500px)
   .hero
      &__bottom
         flex-direction: column
      &__info
         margin-bottom: 16px
// max-width 320px
@media (max-width: 320px)
   .hero
      max-width: 100%
      background-image: url(../img/hero/hero-mobile-bg.jpg)
      background-size: cover
      position: relative
      padding: 0
      padding-bottom: 36px
      &:after
         content: ''
         background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
         position: absolute
         top: 0
         left: 0
         bottom: 0
         right: 0
         z-index: 30
      &__container
         max-width: 290px
         margin: auto
      &__wrap
         text-align: center
         position: relative
         z-index: 40
         padding-left: 0px
         padding-top: 381px
      &__badge
         margin: auto
         margin-bottom: 20px
      &__bottom
         justify-content: center
         flex-direction: row
      &__info
         margin-bottom: 16px
         margin-right: 10px
      &__ico
         width: 24px
      &__btn
         margin-bottom: 22px
         width: 100%