// max-width 1430px
@media (max-width: 1430px)
   .hero
      max-width: 96%
      margin: auto
         
// max-width 1200px
@media (max-width: 1200px)
   .nav-bar
      padding-left: 4% 
      padding-right: 4%  

// max-width 992px
@media (max-width: 992px)
   .nav-bar
      &__item
         margin-right: 30px   
   .hero
      &__container
         padding-left: 3%

// max-width 767px
@media (max-width: 767px)
   .header
      margin-top: 26px
      margin-bottom: 30px
      &__container
         max-width: 650px
   .nav-bar
      margin: auto
      &__menu
         display: none
   .burger-menu
      display: flex
      width: 24px
      height: 24px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background: #fff
      &__line
         width: 24px
         height: 2px
         background-color: #3A4C66
   .hero
      max-width: 728px
      &__container
         background-position: 60% 50%
         padding-top: 36px
         padding-bottom: 36px
      &__badge
         margin-bottom: 24px
      &__title
         font-size: 48px
         line-height: 60px 
         margin-bottom: 20px
      &__text
         max-width: 420px
         font-size: 18px
         line-height: 32px
         margin-bottom: 36px
      &__btn
         margin-bottom: 40px

// max-width 745px
@media (max-width: 745px)
   .hero
      &__container
         border-radius: 0

// max-width 567px
@media (max-width: 576px)
   .hero
      &__container
         border-radius: 0
      &__title
         font-size: 32px
         line-height: 40px
      &__text
         font-size: 16px
         line-height: 28px
      &__badge
         padding: 2px 26px
      &__btn
         font-size: 16px
         line-height: 22px
      &__bottom
         flex-wrap: wrap

// max-width 525px
@media (max-width: 515px)
   .hero
      &__bottom
         justify-content: center
      &__info
         margin-bottom: 16px