body
   font-family: 'Open Sans', sans-serif
   color: $light
   background: #fff
.container
   max-width: 1140px
   margin: auto
h1
   margin: 0
p
   margin: 0
.btn
   background-color: $dark
   padding: 15px 40px
   border-radius: 8px
   font-style: normal
   font-weight: bold
   font-size: 18px
   line-height: 25px
   color: #fff
   border-style: none
   cursor: pointer
   &:hover
      background-color:#1565D8
      transition: .3s